version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: freelance_db_container
    restart: always
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      # База будет лежать в папке ./pgdata внутри твоего проекта
      - ./pgdata:/var/lib/postgresql/data

# Больше не нужен раздел volumes внизу, так как мы используем локальный путь